@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Cal Sans";
    src: url("../public/fonts/CalSans-SemiBold.woff2") format("woff2"),
      url("../public/fonts/CalSans-SemiBold.woff2") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

@layer pages {
  .white-component {
    @apply bg-[#fff] text-[#000];
  }

  .headerBtn {
    @apply link-underline link-underline-black 
    px-4 py-3 mx-2
    text-lg
    rounded-lg
    tracking-widest transition-all
    text-gray-700
    hover:text-white;
  }

  .socialMediaIcon {
    @apply hover:bg-gray-800  cursor-pointer rounded-lg;
  }

  .component-base {
    @apply h-screen flex relative overflow-hidden flex-col text-left 
    max-w-7xl justify-center mx-auto items-center;
  }

  .component-title {
    @apply font-semibold text-5xl mb-28 text-gray-800;
  }

  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 2s ease-in-out;
  }

  .link-underline-black {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#f7ab0a, #f7ab0a);
  }

  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }
}
