@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .headerBtn {
    @apply link-underline link-underline-black 
    px-4 py-3 mx-6
    text-base
    rounded-lg 
    font-semibold
    tracking-widest transition-all
    text-[#a9adc1]
    hover:text-white;
  }

  .socialMediaIcon {
    @apply hover:bg-gray-800 rounded-lg cursor-pointer;
  }

  .component-base {
    @apply h-screen flex flex-col relative 
    text-center 
    max-w-7xl px-10 justify-evenly mx-auto 
    items-center
    overflow-hidden  m-32 z-10;
  }

  .component-title {
    @apply absolute top-24 uppercase tracking-[5px] text-2xl;
  }

  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 2s ease-in-out;
  }

  .link-underline-black {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#f7ab0a, #f7ab0a);
  }

  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }
}
